*{
    padding: 0;
    margin: 0;
  
}
body{
    background-image: url(téléchargement.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%x;
    
}
form{
    text-align: center;
    margin-top: 100px;
    margin-right: 50%;
   border: 5px solid blue ;
   border-radius: 0px 90px;
   background-color: aliceblue;
   margin-left: 80px;
   box-shadow: 0 0 30px blue;
   

}
input{
    padding: 5px;
    margin: 15px;
}
h1,h2{
    color: blue;
}
h2{
    margin-right: 100px;
}
.ok{
    margin-top: 6%;
}
.fa{
    margin-top: 3%;
}
